.products {
    min-height: 5000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
}

.products > button:first-child {
    height: 40px;
    border-radius: 30px;
}

.productContainer {
    width: 90%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    max-width: 700px;
    background: #fff;
    color: #000;
    margin: 25px 0;
    box-shadow: 5px 5px 25px 5px var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.productContainer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.productContainer > div > * {
    padding-bottom: 15px;
    font-size: 0.8rem;
    font-size: 1rem;
}

.productContainer h4 {
    font-size: 1.4rem;
}

.products button {
    margin: 10px;
    background: var(--secondary-color);
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--primary-color);
    padding: 10px 15px;
}

.userDealsCategories {
    background: var(--primary-color);
    /* transform: translateY(-10px); */
    padding-bottom: 10px;
    width: 100%;
}

.userDealsCategories button {
    color: #fff;
    background: var(--primary-color);
    border: 3px solid var(--secondary-color);
}

.userDealsCategories button:hover {
    background: var(--secondary-color);
} 

.search {
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--primary-color);
    width: 100%;
}

.search input {
    padding: 0 15px;
    height: 40px;
    width: 60vw;
    max-width: 400px;
}

.search button {
    padding: 10px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.prevNext {
    display: flex;
}

.prevNext button {
    padding: 10px 25px;
    border-radius: 20px;
}

.prevNext button:hover {
    background: var(--primary-color);
    color: #fff;
}

.searchByCategory {
    background: var(--primary-color);
    width: 100%;
    display: flex;
    align-items: center;
}

.searchByCategory button {
    transform: translateY(-10px);
    z-index: 20;
}

.usedItemsSpace {
    height: 10px;
}

@media (min-width: 900px) {
    .productContainer img {
        height: 500px;
        width: 500px;
        margin: 30px 0;
    }
}