.products {
    min-height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 10px; */
    padding-bottom: 200px;
}

.products img {
    object-fit: cover;
}

.products > button:first-child {
    height: 40px;
    border-radius: 30px;
}

.productContainer {
    width: 90%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    max-width: 700px;
    background: #fff;
    color: #000;
    margin: 25px 0;
    box-shadow: 5px 5px 25px 5px var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.productContainer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.productContainer > div > * {
    padding-bottom: 15px;
    font-size: 0.8rem;
    font-size: 1rem;
}

.productContainer h4 {
    font-size: 1.4rem;
}

.products button {
    margin: 10px;
    background: var(--secondary-color);
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--primary-color);
    padding: 10px 15px;
}

.userDealsCategories {
    background: var(--primary-color);
    /* transform: translateY(-10px); */
    padding-bottom: 10px;
    width: 100%;
}

.userDealsCategories button {
    color: #fff;
    background: var(--primary-color);
    border: 3px solid var(--secondary-color);
}

.userDealsCategories button:hover {
    background: var(--secondary-color);
} 

.search {
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--primary-color);
    width: 100%;
}

.search input {
    padding: 0 15px;
    height: 40px;
    width: 60vw;
    max-width: 400px;
}

.search button {
    padding: 10px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.prevNext {
    display: flex;
}

.prevNext button {
    padding: 10px 25px;
    border-radius: 20px;
}

.prevNext button:hover {
    background: var(--primary-color);
    color: #fff;
}

.searchByCategory {
    background: var(--primary-color);
    width: 100%;
    display: flex;
    align-items: center;
}

.searchByCategory button {
    transform: translateY(-10px);
    z-index: 20;
}

.usedItemsSpace {
    height: 10px;
}

@media (min-width: 900px) {
    .productContainer img {
        height: 500px;
        width: 500px;
        margin: 30px 0;
    }
}

.homeSectionSpace50 {
    height: 50px;
}

.homeFirstSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.homeFourProducts {
    text-align: center;
    width: 420px;
    /* margin: 10px; */
}

.homeFourProducts > div {
    height: 400px;
    width: 400px;
    /* padding: 25px 15px; */
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    overflow: hidden;
    padding: 30px 0;
}

.homeFourProducts > div > img {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #333;
}

.homeFourProducts > div > img:hover {
    box-shadow: 5px 5px 30px #000;
}

.homeOneProduct {
    text-align: center;
    /* width: 400px;
    height: 400px; */
}

.homeOneProduct > div {
    /* border: 1px solid black; */
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeOneProduct > div > img {
    height: 340px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #333;
}

.homeOneProduct > div > img:hover {
    box-shadow: 5px 5px 20px #000;
}

.thirdSection {
    width: 100%;
}

.thirdSection h2 {
    transform: translateY(20px);
    text-align: center;
    padding: 30px;
}

.thirdSection > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.thirdSection img {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #333;
    margin: 30px;
}

.thirdSection img:hover {
    box-shadow: 5px 5px 30px #000;
}

.slideShow > div > div {
    display: flex;
    width: 1000%;
    position: relative;
    /* left: -100%; */
    left: 0%;
    transition: 1s;
}

.slideShow img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.slideShow > div {
    position: relative;
}

.slideLeftButton, .slideRightButton {
    background: var(--primary-color);
    color: #fff;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    position: absolute;
    z-index: 50;
    top: 45%;
    margin: 20px;
}

.slideLeftButton:hover, .slideRightButton:hover {
    opacity: 0.9;
}

.slideLeftButton {
    left: 30px;
}

.slideRightButton {
    right: 30px;
}

.seeAllUserDealsButton {
    margin-left: 30px;
}

@media (min-width: 900px) {
    .homeFirstSection {
        flex-direction: row;
        flex-wrap: wrap;
        width: 1000px;
        /* border: 1px solid black; */
        justify-content: center;
    }

    .thirdSection > div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .slideShow img {
        height: 600px;
    }
}

@media (min-width: 1000px) {
    .thirdSection {
        width: 1000px;
    }
}

@media (min-width: 1800px) {
    .homeFirstSection {
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }

    .thirdSection {
        width: 100%;
    }
}