.decideRegisterOrLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.decideRegisterOrLogin > button,
.register button,
.login button {
    padding: 10px 30px;
    background: var(--tertiary-color);
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background: var(--secondary-color);
    color: #fff;
    font-size: 1rem;
}

.decideRegisterOrLogin > button:hover,
.register > button:hover,
.login > button:hover {
    background: var(--primary-color);
}

.register, .login {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* color: #fff; */
}

.register h2, .login h2 {
    padding: 20px;
}

.register input, .login input {
    width: 80%;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 600px;
}

.register {
    display: none;
}

.login {
    display: none;
}