:root,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    --primary-color: #1a1a1a;
    --secondary-color: #00cc33;
    --tertiary-color: #b0b3b8;
}

body {
    font-family: sans-serif;
    font-weight: bold;
}

header,
footer {
    color: #b0b3b8;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input {
    width: 80%;
    max-width: 600px;
    padding: 5px 15px;
    border-radius: 20px;
}

textarea {
    border-radius: 20px;
    padding: 15px;
}

button {
    padding: 10px 30px;
    background: #fff;
    font-weight: bold;
    margin: 10px;
    border-radius: 20px;
    border: none;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1rem;
}

h2 {
    padding: 10px;
}

nextjs-portal {
    display: none;
}