.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.profile button {
    background: var(--primary-color);
    color: #fff;
    font-weight: bold;
    width: 300px;
}

.profile button:first-child {
    background: #f30;
}