.seeMyProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--tertiary-color);
}

.seeMyProducts h2 {
    color: var(--primary-color);
}

.seeMyProductContainer {
    width: 90%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
    max-width: 700px;
    background: var(--primary-color);
    position: relative;
    padding-bottom: 100px;
}

.seeMyProductContainer > *:last-child {
    position: absolute;
    bottom: 20px;
}

.seeMyProductContainer img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.seeMyProductContainer > div > * {
    padding-bottom: 10px;
}

.seeMyProductContainer h4 {
    font-size: 1.2rem;
}

.seeMyProducts button {
    margin: 10px;
    background: var(--secondary-color);
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}

.seeMyProductContainer h5 {
    color: var(--secondary-color);
}