.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    min-height: 800px;
}

.cart h4 {
    margin-top: 50px;
    font-size: 1.3rem;
}

.cartProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 90%;
}

.cartProduct div {
    padding: 10px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.cartProduct span {
    color: #777;
}

.cartProduct img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    text-align: center;
}

.cartLoading {
    padding-top: 100px;
}