.singleProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.singleProduct button {
    margin: 10px;
}

.singleProduct img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    margin: 30px 0;
}

.singleProduct > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    margin: 20px;
}

.singleProductComment {
    display: flex;
    flex-direction: column;
    border: 1px solid #999;
    padding: 10px;
    border-radius: 10px;
}

.singleProductComment span {
    padding: 5px;
}

.singleProductComment span:first-child {
    text-decoration: underline;
}

@media (min-width: 900px) {
    .singleProduct img {
        width: 500px;
        height: 500px;
    }
}