.footer {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    height: 600px;
    margin-top: 300px;
  }

  .footer a:hover,
  .footer a:active,
  .footer a:link,
  .footer a:visited {
    color: #fff;
    text-decoration: none;
    padding: 20px;
  }

  .shoppingCartLogo {
    width: 25px;
  }
  