.footer {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    min-height: 600px;
    color: #fff;
  }

  .footer a:hover,
  .footer a:active,
  .footer a:link,
  .footer a:visited {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 0.7rem;
  }

  .footer section {
    display: flex;
    /* flex-direction: column; */
    padding: 30px;
  }

  .footer section h3 {
    padding-bottom: 30px;
    font-size: 0.8rem;
  }

  .shoppingCartLogo {
    width: 25px;
  }

  .socialMediaLinks {
    display: flex;
  }

  .socialMediaLinks img {
    width: 40px;
    border-radius: 50%;
  }

  /* @media (min-width: 900px) {
    .footer div {
      display: flex;
      justify-content: space-around;
      padding-top: 40px;
    }
  } */
  