.faqPage {
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    height: 900px;
    text-align: center;
    max-width: 900px;
}

.faqPage h1 {
    padding-bottom: 50px;
}

.faqBG {
    background-image: url("/shop/faq.png");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 140px;
    left: 0;
    z-index: -100;
    opacity: 0.3;
}

.faqItem {
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.faqItem:hover {
    background-color: #f9f9f9;
}

.faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faqAnswer {
    margin-top: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}